# 宿主机程序代码路径
APP_CODE_PATH_HOST=./

# 容器中程序路径
APP_CODE_PATH_CONTAINER=/var/www/html:cached

# 数据卷存储数径，例如mysql,nginx的动态数据等
DATA_PATH_HOST=./data/

# 数据卷驱动类型
VOLUMES_DRIVER=local

# 网桥类型
NETWORKS_DRIVER=bridge

# docker-compose执行的文件
COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# 编排容器的名称前缀
COMPOSE_PROJECT_NAME=gitlab

# 添加(容器)主机名的标签，就是往/etc/hosts文件中添加一些记录
DOCKER_HOST_IP=10.0.75.1

# 支持windows路径
COMPOSE_CONVERT_WINDOWS_PATHS=1

### NGINX #################################################
# http主机端口
NGINX_HOST_HTTP_PORT=80
# https主机默认端口
NGINX_HOST_HTTPS_PORT=443

### GITLAB ###############################################
GITLAB_HOST_HTTP_PORT=8989
GITLAB_HOST_HTTPS_PORT=9898
GITLAB_HOST_SSH_PORT=2289
GITLAB_DOMAIN_NAME=http://localhost

### DOCKER REGISTRY ###############################################
DOCKER_REGISTRY_PORT=5000

### DOCKER WEB UI ###############################################
DOCKER_WEBUI_REGISTRY_HOST=docker-registry
DOCKER_WEBUI_REGISTRY_PORT=5000
# if have use https proxy please set to 1
DOCKER_REGISTRY_USE_SSL=0
DOCKER_REGISTRY_BROWSE_ONLY=false
DOCKER_WEBUI_PORT=8754